@import
url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@media (orientation: portrait) {
    div {
        xtransform: rotate(270deg);
    }
}

html {
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

nav {
    text-align: right;
    xflex: .7 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    margin-right: 0;
}

nav > a {
    margin-right: 1em;
    margin-left: 4em;
    font-size: 1.3em;
}

#home {
    text-align: center;
    width: 55%;
    margin: auto;
    margin-bottom: 2em;
}

#home > h1 {
    font-size: 8.5vw;
    margin-top: 8%;
    margin-bottom: 12%;
}

@media(min-width: 950px) {
    #home > h1 {
        font-size: 5em;
    }
}

#bracket-page > h1 {
    text-align: center;
}

#home > p {
    font-size: 1.4em;
}

#big-button {
    font-size: 2em;
    padding: 2%;
    margin-top: 1.5em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    margin-bottom: 0;
}

#text-gap {
    width: 2em;
}

#bracket-team {
    border: 1px solid;
    xborder-color: black;
    width: 10em;
    height: 2em;
}

#bracket-page {
    margin-top: 1.5em;
}

.bracket-container {
    overflow-x: auto;
}

#line-below {
    border-bottom: 1px solid;
    width: 2em;
    height: 2em;
}

#line-right {
    border-right: 1px solid;
    width: 2em;
    height: 2em;
}

#line-right-below {
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 2em;
    height: 2em;
}

table#bracket {
    margin-left: 10%;
    overflow-x: scroll;
    width: max-content;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-right: 10%;
}

header > h1 {
    xflex: .3 0px;
    font-size: 2.3em;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    height: 2.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

#content-wrap {
    padding-bottom: 4em;
}

.navbar {
    min-height: 86px;
}

.navbar-nav {
    --bs-nav-link-font-size: 1.7rem;
}

.navbar-brand {
    --bs-navbar-brand-font-size: 2.5rem;
}

body {
    background-color: var(--bs-gray-800) !important;
    color: white !important;
}

.navbar-wrap {
    flex: 1;
}

@media (min-width: 992px) {
    .navbar-wrap {
        display: flex;
        justify-content: end;
    }
}

.bracket-wizard {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-control {
    background: var(--bs-gray-600) !important;
    color: white !important;
    margin-bottom: 1rem;
}

.form-check {
    margin-bottom: 1rem !important;
}

.form-check .form-check-input:not(:checked) {
    background-color: var(--bs-gray-600) !important;
    border-color: white !important;
}

h1 {
    margin-top: 1.5em !important;
    text-align: center;
}

.bracket-list-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.bracket-list {
    border: solid;
    border-radius: 1em;
    width: 80%;
    display: flex;
    grid-template-columns: 40% 30% 30%;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.bracket-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 3em);
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.bracket-list-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

.bracket-list-link > * {
    margin-bottom: 0;
}

.bracket-list-link:hover {
    background-color: var(--bs-gray-600);
}

.bracket-list-item .bracket-list-title {
    width: calc(100% / 3);
}

.bracket-list-item .bracket-list-type {
    text-align: center;
    width: calc(100% / 3);
}

.bracket-list-item .bracket-list-num-participants {
    text-align: end;
    width: calc(100% / 3);
}

.bracket-list-item .bracket-list-delete {
    text-align: end;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

.bracket-list-delete:hover {
    background-color: var(--bs-gray-600);
}