@import
url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@media (orientation: portrait) {
    div {
        xtransform: rotate(270deg);
    }
}

html {
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

:root {
    --footer-size: 64px;
    --header-size: 86px;
}

nav {
    text-align: right;
    xflex: .7 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    xmargin: auto;
    margin-right: 0;
}

nav > a {
    margin-right: 1em;
    margin-left: 4em;
    font-size: 1.3em;
}

.home-main {
    xheight: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    width: 55%;
    xmargin: auto;
    xmargin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - var(--header-size) - var(--footer-size));
}

.big-space {
  flex: 3;
}

.small-space {
  flex: 1;
}

#home .h1-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#home h1 {
    margin: 0 !important;
    font-size: 15vmin !important;
}

.bracket-page > h1 {
    text-align: center;
}

#home .p-container {
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home p {
    font-size: 3vmin;
    text-align: center;
    margin: 0;
}

#home .button-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

#big-button {
    font-size: 4vmin;
    padding: 2vmin;
    xmargin-top: 1.5em;
    xmargin-bottom: 5%;
    width: max-content;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: var(--footer-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    margin-bottom: 0;
}

#text-gap {
    width: 2em;
}

.bracket-team {
    border: 1px solid;
    xborder-color: black;
    width: 10em;
    height: 2em;
}

.bracket-page {
    margin-top: 1.5em;
}

.bracket-container {
    overflow-x: auto;
}

.line-below {
    border-bottom: 1px solid;
    width: 2em;
    height: 2em;
}

.line-right {
    border-right: 1px solid;
    width: 2em;
    height: 2em;
}

.line-right-below {
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 2em;
    height: 2em;
}

#bracket-empty {
    width: 10em;
    height: 2em;
}

table.bracket {
    margin-left: 10%;
    overflow-x: scroll;
    width: max-content;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-right: 10%;
    border-spacing: 0;
}

header > h1 {
    xflex: .3 0px;
    font-size: 2.3em;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    height: 2.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content-wrap {
    padding-bottom: var(--footer-size);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    min-height: var(--header-size);
    flex: 0;
}

.navbar-nav {
    --bs-nav-link-font-size: 1.7rem;
}

.navbar-brand {
    --bs-navbar-brand-font-size: calc(2rem + .5vw);
}

body {
    background-color: var(--bs-gray-800) !important;
    color: white !important;
}

.navbar-wrap {
    flex: 1;
}

@media (min-width: 992px) {
    .navbar-wrap {
        display: flex;
        justify-content: end;
    }
}

.bracket-wizard {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-control {
    background: var(--bs-gray-600) !important;
    color: white !important;
    margin-bottom: 1rem;
}

.form-check {
    margin-bottom: 1rem !important;
}

.form-check .form-check-input:not(:checked) {
    background-color: var(--bs-gray-600) !important;
    border-color: white !important;
}

.format-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.format-picker * {
    padding-right: 1em;
}

h1 {
    margin-top: 1.5em !important;
    text-align: center;
}

.bracket-list-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.bracket-list {
    border: solid;
    border-radius: .75em;
    width: 80%;
    display: flex;
    grid-template-columns: 40% 30% 30%;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.bracket-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bracket-list-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    cursor: pointer;
}

.bracket-list-link > * {
    margin-bottom: 0;
}

.bracket-list-link:hover {
    background-color: var(--bs-gray-600);
    border-radius: .375em;
}

.bracket-list-item .bracket-list-title {
    flex: 1;
}

.bracket-list-item .bracket-list-info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.bracket-list-item .bracket-list-type {
    text-align: center;
    flex: 1;
}

.bracket-list-item .bracket-list-num-participants {
    text-align: end;
    flex: 1;
}

.bracket-list-item .bracket-list-delete {
    text-align: end;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    flex: calc(1.5em + 2.1vw);
    cursor: pointer;
}

.bracket-list-delete img {
    max-width: 100%;
    height: auto;
}

.bracket-list-delete:hover {
    background-color: var(--bs-gray-600);
    border-radius: .375em;
}

.bracket-list-item h4 {
    font-size: 2vw;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

@media(max-width: 500px) {
    .bracket-list-item .bracket-list-title {
        font-size: calc((1.275rem + .3vw) / 1.7);
        flex-shrink: 1;
        white-space: normal;
        text-align: center;
    }

    .bracket-list-item .bracket-list-info-block {
        flex: 0;
        flex-direction: column;
    }

    .bracket-list-item .bracket-list-type {
        font-size: calc((1.275rem + .3vw) / 2);
    }

    .bracket-list-item .bracket-list-num-participants {
        text-align: center;
        font-size: calc((1.275rem + .3vw) / 2);
    }

    .bracket-list-item .bracket-list-delete {
        flex: calc(2em + 3.1vw);
        flex-shrink: 0;
    }
}

@media(max-width: 450px) {
    .bracket-list.item {
        width:max-content;
        overflow-x: scroll;
    }
}

.dropdown-menu {
    background-color: var(--bs-gray-700) !important;
    color: white !important;
}

@media(max-height: 500px) {
    footer {
        bottom: -var(--footer-size);
    }

    #content-wrap {
        padding: 0;
    }
}

.bracket-list-filler {
    margin: 0;
    font-size: 3.5vw;
}

@media(min-width: 450px) {
    .bracket-list-filler {
        font-size: var(--bs-body-font-size);
    }
}